<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>ooqT9n8n4FyA8M0ft13US6ZNCOiZbeuO</string>
	<key>Domain</key>
	<string>nikolasburk.eu.auth0.com</string>
</dict>
</plist>
